mixin subscription-text-field(placeholder)
  .subscription-text-field
    .subscription-text-field__inner
      label.subscription-text-field__more
        input.subscription-text-field__input.text-field(type="email", placeholder=placeholder)