.subscription-text-field {
  width: 267px;
}
.subscription-text-field__input {
  width: 267px;
}
.subscription-text-field__more::after {
  font-family: 'Material Icons';
  content: 'arrow_forward';
  font-size: 24px;
  background: $linear-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  float: right;
  top: -35px;
  left: -10px;
  z-index: 1;
  cursor: pointer;
}