// Подключение стилей шаблона
@import '../../templates/template.scss';

body {
  background-color: white;
}
header {

}
main {

}
.main__wrapper {
  height: 830px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 660px) {
    height: 500px;
  }
}
.bg-slider--1 {
  background-image: url(bg-img/image.png);
}
.bg-slider--2 {
  background-image: url(bg-img/image2.png);
}
.bg-slider--3 {
  background-image: url(bg-img/image3.png);
}
.room-selection__wrapper {
  padding: 70px 140px;
  flex: 1 0 auto;
  @media screen and (max-width: 660px) {
    padding: 0;
    padding-top: 10px;
    margin: 0 auto;
  }
}
.room-selection {

}
.main-about {
  flex: 0 0 auto;
}
.main-about__wrapper {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20px;
  padding-right: 135px;
  @media screen and (max-width: 660px) {
    padding-right: 25px;
  }
}
.main-about__text {
  text-align: right;
  width: 300px;
  color: $palette-primary-75;
}
footer {

}
.footer-main {
  @media screen and (max-width: 700px) {
    display: none;
  }
}
.footer-mobile {
  display: none;
  @media screen and (max-width: 700px) {
    display: block;
  }
}