//- Все примеси в этом файле должны начинаться c имени блока (pagination)

mixin pagination(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +pagination('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' pagination--' + modsList[i].trim();
      }
    }

  .pagination(class=allMods)&attributes(attributes)
    .pagination__inner
      block
