mixin pagination
  .pagination
    .pagination__inner
      .pagination__element
        p.pagination__page-number.pagination__page-number--active 1
      .pagination__element
        p.pagination__page-number 2
      .pagination__element
        p.pagination__page-number 3
      .pagination__element
        p.pagination__page-number ...
      .pagination__element
        p.pagination__page-number 15
      .pagination__element
        .pagination__forward arrow_forward
    p.pagination__info 1 – 12 из 100+ вариантов аренды