// Подключение стилей шаблона
@import '../../templates/template.scss';

body {
  background-color: white;
}
header {

}
main {
  background-image: url(bg-img/bg.png);
  background-repeat: no-repeat;
}
.authorization__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.authorization {
  padding: 172px 0;
  @media screen and (max-width: 700px) {
  	padding: 40px 0;
  }
  @media screen and (max-width: 500px) {
  	padding: 10px 0;
  }
}
footer {

}
.footer-main {
  @media screen and (max-width: 700px) {
    display: none;
  }
}
.footer-mobile {
  display: none;
  @media screen and (max-width: 700px) {
    display: block;
  }
}