// Подключение стилей шаблона
@import '../../templates/template.scss';

body {
  background-color: white;
}
header {

}
main {
}
.bg-slider__wrapper {
  height: 700px;
  width: 100%;
  position: absolute;
  z-index: -1;
  @media screen and (max-width: 700px) {
  height: 450px;
  }
}
.bg-slider {
  min-height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-slider--1 {
  background-image: url(bg-img/bg.png);
}
.bg-slider--2 {
  background-image: url(bg-img/bg2.png);
}
.authorization__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.authorization {
  padding: 172px 0;
  @media screen and (max-width: 700px) {
  	padding: 40px 0;
  }
  @media screen and (max-width: 500px) {
  	padding: 10px 0;
  }
}
footer {

}
.footer-main {
  @media screen and (max-width: 700px) {
    display: none;
  }
}
.footer-mobile {
  display: none;
  @media screen and (max-width: 700px) {
    display: block;
  }
}