mixin color-panel(p1, p2)
  style
    include ../../fonts.css
    include color-panel.scss
  .color-panel(class=allMods)&attributes(attributes)
    .color-panel__square
    .color-panel__text
      p #{p1}
      p #{p2}