.color-panel__square {
  /* Цвет квадрата указан в миксине */
  width: 70px;
  height: 70px;
  border-radius: 6px;
  float: left;
  margin-right: 40px;
} 
.color-panel__text {
  padding-top: 7px;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
}
.color-panel__color-name {
  font-family: $font-family-primary-bold;
}
.color-panel__color-code {
  font-family: $font-family-primary-light;
}
.color-panel {
  margin-bottom: 25px;
}