//- rating - количество звезд из 5
mixin rate-button(rating)
  .rate-button
    .rate-button__inner
      - for (var x = 0; x < rating; x++)
        .rate-button__star.rate-button__star--active
      - for (var x = rating; x < 5; x++)
        .rate-button__star