@import '../../style/_fonts.css';
@import '../../style/_variables.scss';
@import '../../style/_global-for-kit.scss';
/* Подключение стилей БЭМ-блоков */
@import '../../blocks/text-field/text-field.scss';
/*
@import '../../blocks/dropdown/dropdown.pug';
@import '../../blocks/date-dropdown/date-dropdown.pug';
@import '../../blocks/filter-date-dropdown/filter-date-dropdown.pug';
@import '../../blocks/subscription-text-field/subscription-text-field.pug';
*/
body {
  width: 1440px;
}
.top-block-group {
  padding: 140px;
  display: flex;
  justify-content: space-between;
  p {
    width: 320px;
    background-color: green;
    text-align: center;
  }
}
.top-block-group__first-column {
  flex-basis: 320px;
}
.top-block-group__second-column {
  flex-basis: 320px;
}
.top-block-group__tertiary-column {
  flex-basis: 320px;
}
.block {
  margin-bottom: 18px;
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    margin-bottom: 38px;
  }
}
.block-description {
  
}
.block__name {
  line-height: 15px;
  &:first-child {
    padding-top: 3px;
  }
}
.block__content {
	margin-top: 5px;
}