extends ../../pug/template.pug
//- include ../../blocks/dropdown/dropdown.pug
//- include ../../blocks/date-dropdown/date-dropdown.pug
//- include ../../blocks/filter-date-dropdown/filter-date-dropdown.pug
//- include ../../blocks/subscription-text-field/subscription-text-field.pug
include ../../blocks/checkbox-button/checkbox-button.pug
include ../../blocks/radio-button/radio-button.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/like-button/like-button.pug
include ../../blocks/rate-button/rate-button.pug

block head
  title Form-Elements
  script(src="form-elements.js")
block body
  .logo-for-kit
    include ../../favicon/logo.svg
  .top-block-group
    .top-block-group__first-column
      .block
        h3.block__name Text field
        .block__content
          input.text-field(type="text", placeholder="Email")
      .block
        h3.block__name Text field
        .block__content
          input.text-field(type="text", placeholder="This is pretty awesome")
      .block
        h3.block__name Dropdown
        .block__content
          input.text-field(type="text", placeholder="This is pretty awesome")
      .block
        h3.block__name Masked text field
        .block__content
          input.text-field(type="text", placeholder="ДД.ММ.ГГГГ")
      //.block
        h3.block__name Date dropdown
        .block__content
          input.text-field(type="text", placeholder="This is pretty awesome")
      .block
        h3.block__name Date dropdown
        .block__content
          input.text-field(type="text", placeholder="This is pretty awesome")
      .block
        h3.block__name Filter date dropdown
        .block__content
          input.text-field(type="text", placeholder="This is pretty awesome")
      .block
        h3.block__name Subscription text field
        .block__content
          input.text-field(type="email", placeholder="Email")
    .top-block-group__second-column
      .block
        h3.block__name Checkbox buttons
        .block__content
          +checkbox-button("Можно курить")
          +checkbox-button("Можно с питомцами", "checked")
          +checkbox-button("Можно пригласить гостей (до 10 человек)", "checked")
      .block
        h3.block__name Radio buttons
        .block__content
          +radio-button("gender", "male", "Мужчина", "checked")
          +radio-button("gender", "female","Женщина")
      .block
        h3.block__name Toggle
        .block__content
          +toggle
      .block
        h3.block__name Like button
        .block__content
          +like-button(2)
      .block
        h3.block__name Rate button
        .block__content
          +rate-button(4)
          +rate-button(5)
    .top-block-group__tertiary-column
      .block
        h3.block__name Range slider
        .block__content
      .block
        h3.block__name Buttons
        .block__content
      .block
        h3.block__name Pagination
        .block__content