extends ../../pug/template.pug
//- include ../../blocks/dropdown/dropdown.pug
//- include ../../blocks/filter-date-dropdown/filter-date-dropdown.pug
//- include ../../blocks/subscription-text-field/subscription-text-field.pug

//- Подключение БЭМ-блоков 
include ../../blocks/checkbox-button/checkbox-button.pug
include ../../blocks/radio-button/radio-button.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/like-button/like-button.pug
include ../../blocks/rate-button/rate-button.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/button/button.pug
include ../../blocks/pagination/pagination.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/date-dropdown/date-dropdown.pug

block head
  title Form-Elements
  
block body
  .logo-for-kit
    include ../../favicon/logo.svg

  //- Верхняя группа блоков
  .top-block-group
    //- Первая колонна
    .top-block-group__first-column.first-column
      .first-column__block
        h3.first-column__name Text field
        .first-column__content
          input.text-field(type="text", placeholder="Email")
      .first-column__block
        h3.first-column__name Text field
        .first-column__content
          input.text-field(type="text", placeholder="This is pretty awesome")
      .first-column__block
        h3.first-column__name Dropdown
        .first-column__content
          input.text-field(type="text", placeholder="This is pretty awesome")
      .first-column__block
        h3.first-column__name Masked text field
        .first-column__content
          input.text-field(type="text", placeholder="ДД.ММ.ГГГГ")
      .first-column__block
        h3.first-column__name Date dropdown
        .first-column__content
          input.text-field(type="text", placeholder="This is pretty awesome")
        h3.first-column__name Date dropdown
        .first-column__content
          input.text-field(type="text", placeholder="This is pretty awesome")
      .first-column__block
        h3.first-column__name Filter date dropdown
        .first-column__content
          input.text-field(type="text", placeholder="This is pretty awesome")
      .first-column__block
        h3.first-column__name Subscription text field
        .first-column__content
          input.text-field(type="email", placeholder="Email")

    //- Вторая колонна
    .top-block-group__second-column.second-column
      .second-column__block
        h3.second-column__name Checkbox buttons
        .second-column__content
          +checkbox-button("Можно курить")
          +checkbox-button("Можно с питомцами", "checked")
          +checkbox-button("Можно пригласить гостей (до 10 человек)", "checked")
      .second-column__block.block--radio
        h3.second-column__name Radio buttons
        .second-column__content
          +radio-button("gender", "male", "Мужчина", "checked")
          +radio-button("gender", "female","Женщина")
      .second-column__block
        h3.second-column__name Toggle
        .second-column__content
          +toggle--on("Получать спецпредложения")
        .second-column__content
          +toggle("Получать спецпредложения")
      .second-column__block.block--like
        h3.second-column__name Like button
        .second-column__content
          +like-button(2)
        .second-column__content
          +like-button--active(12)
      .second-column__block.block--rate
        h3.second-column__name Rate button
        .second-column__content
          +rate-button(4)
          +rate-button(5)

    //- Третья колонна
    .top-block-group__tertiary-column.tertiary-column
      .tertiary-column__block
        h3.tertiary-column__name Range slider
        .tertiary-column__content
          +range-slider
      .tertiary-column__block.block--button
        h3.tertiary-column__name Buttons
        .tertiary-column__content
          +btn--full("Click me")
        .tertiary-column__content
          +btn--border("Click me")
        .tertiary-column__content
          +btn--min("Click me")
        .tertiary-column__content
          +btn--arrow("Перейти к оплате")
      .tertiary-column__block
        h3.tertiary-column__name Pagination
        .tertiary-column__content
          +pagination

  //- Нижняя группа блоков
  .bottom-block-group
    .bottom-block-group__first-column.first-column
      .first-column__block
        h3.first-column__name Dropdown
        .first-column__content
          +dropdown
      .first-column__block
        h3.first-column__name Dropdown
        .first-column__content
          +dropdown
    .bottom-block-group__second-column.second-column
      .second-column__block
        h3.second-column__name Dropdown
        .second-column__content
          +dropdown--guests
    .bottom-block-group__tertiary-column.tertiary-column
      <div class="datepicker-here"></div>
      <input type='text' class="datepicker-here" data-position="right top" />

  script(src="form-elements.js")