.text-panel {
	margin-bottom: 50px;
}

.text-panel__identifier {
  float: left;
  text-align: right;
  margin-right: 25px;

  color: $palette-primary-25;
  font-size: 24px;
  line-height: 29px;
}

.text-panel__transcript {
  
}

h1 {
  margin: 0;
  padding: 0;
}