  // Подключение стилей шаблона
@import '../../templates/template.scss';

body {
  background-color: white;
}
header {

}
main {

}
.bg-slider__wrapper {
  height: 800px;
  width: 100%;
  position: absolute;
}
.bg-slider--1 {
  background-image: url(bg-img/bg.png);
}
.bg-slider--2 {
  background-image: url(bg-img/bg2.png);
}
.registration-form__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.registration-form {
  padding: 19px 0;
}
footer {

}
.footer-main {
  @media screen and (max-width: 700px) {
    display: none;
  }
}
.footer-mobile {
  display: none;
  @media screen and (max-width: 700px) {
    display: block;
  }
}