mixin review(name, time, content, likes, photo)
  .review
    .review__left
      .review__photo
        img(src=require("./../../blocks/review/img/"+photo))
      .review__like-button
        +like-button--active(likes)
    .review__right
      h3.review__name= name
      p.review__time= time
      p.review__content= content