.review {

}
.review__inner {
  display: flex;
}
.review__left {
  margin-right: 10px;
}
.review__right {
  margin-top: 5px;
}
.review__photo {
  margin-bottom: 2px;
  img {
    width: 47.67px;
    height: 48px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
    border-radius: 50%;
  }
}
.review__like-button {
  margin-left: 4px;
}
.review__name {
  text-transform: none;
  font-size: 14px;
  margin-bottom: 4px;
  color: $palette-primary-75;
}
.review__time {
  margin-bottom: 10px;
}
.review__content {
  color: $palette-primary-75;
}