mixin footer-nav
  .footer-nav
    .footer-nav__inner
      .footer-nav__info
        .footer-nav__logo
          include img/logo-toxin.svg
        p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .footer-nav__menu-nav
        .footer-nav__navigation
          h3 Navigation
          p.footer-nav__chapter 
            a.footer-nav__link(href='#') About Us
          p.footer-nav__chapter 
            a.footer-nav__link(href='#') News
          p.footer-nav__chapter 
            a.footer-nav__link(href='#') Support
          p.footer-nav__chapter 
            a.footer-nav__link(href='#') Products
        .footer-nav__about
          h3 About Us
          p.footer-nav__chapter 
            a.footer-nav__link(href='#') Who we are
          p.footer-nav__chapter 
            a.footer-nav__link(href='#') Our team
          p.footer-nav__chapter 
            a.footer-nav__link(href='#') Careers
          p.footer-nav__chapter 
            a.footer-nav__link(href='#') Investors
        .footer-nav__support
          h3 Support
          p.footer-nav__chapter 
            a.footer-nav__link(href='#') Documentation
          p.footer-nav__chapter 
            a.footer-nav__link(href='#') Community
          p.footer-nav__chapter 
            a.footer-nav__link(href='#') Get in Touch
      .footer-nav__subscribe
        h3 Subscribe to our newsletter
        p Receive our latest news and promotions in your inbox!
  .copyright-bar
    .copyright-bar__inner
      .copyright-bar__copyright
        p Copyright &copy; 2018 Toxin UI Kit. All right reserved.
      .copyright-bar__social
          a.copyright-bar__link.copyright-bar__link--twitter(href='#')
          a.copyright-bar__link.copyright-bar__link--facebook(href='#')
          a.copyright-bar__link.copyright-bar__link--instagram(href='#')