mixin footer-nav
  .footer-nav
    .footer-nav__inner
      .footer-nav__info
        .footer-nav__logo
          include img/logo-toxin.svg
        p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .footer-nav__menu-nav
        .footer-nav__navigation
          h3 Navigation
          p About Us
          p News
          p Support
          p Products
        .footer-nav__about
          h3 About Us
          p Who we are
          p Our team
          p Careers
          p Investors
        .footer-nav__support
          h3 Support
          p Documentation
          p Community
          p Get in Touch
      .footer-nav__subscribe
        h3 Subscribe to our newsletter
  .copyright-bar
    .copyright-bar__inner
      .copyright-bar__copyright
        p Copyright &copy; 2018 Toxin UI Kit. All right reserved.
      .copyright-bar__social
        p \f0aa
        i(class="fas fa-arrows-alt-h")