h3, p {
  letter-spacing: -0.015em;
}

.footer-nav {
  width: 100%;
  background-color: $background-color;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  margin-bottom: 1px;
  height: 372px;
}
.footer-nav__inner {
  padding: 100px 140px;
  display: flex;
  flex-wrap: wrap;
}
.footer-nav__info {
  flex-basis: 260px;
  margin-right: 40px;
  p {
    font-family: $font-family-secondary-medium;
  }
}
.footer-nav__logo {
  margin-bottom: 20px;
  height: 40px;
}
.footer-nav__menu-nav {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  h3 {
    margin-bottom: 21px;
  }
}
.footer-nav__navigation,
.footer-nav__about,
.footer-nav__support {
  flex-basis: 33.33%;
}
.footer-nav__chapter {
  margin-bottom: 20px;
  line-height: 17px;
}
.footer-nav__link {
  color: $palette-primary-50;
  &:visited {
    color: $palette-primary-50;
  }
}
.footer-nav__subscribe{
  flex-basis: 260px;
  h3 {
    margin-bottom: 21px;
  }
  p {
    font-family: $font-family-secondary-medium;
    margin-bottom: 20px;
  }
}
/* Copyright&Social*/
.copyright-bar {
  width: 100%;
  height: 70px;
  background-color: $background-color;
  box-shadow: 0px 10px 20px $palette-primary-5;
}
.copyright-bar__inner {
  height: 100%;
  padding: 0px 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.copyright-bar__copyright {
  font-family: $font-family-secondary-medium;
}
.copyright-bar__social {

}
.copyright-bar__link {
  font-family: $font-family-brands;
  font-size: 24px;
  line-height: 23px;
  margin: 0 10px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &--twitter:before {
    content: '\f099'; 
  }
  &--facebook:before {
    content: '\f082';
  }
  &--instagram:before {
    content: '\f16d';
  }
}
