mixin footer-nav
  .footer-nav
    .footer-nav__inner
      .footer-nav__logo
        include img/logo-toxin.svg
      .footer-nav__menu-nav
        p vfvfvfvf
      .footer-nav__subscribe
        p vfvfvfvf
  .copyright-bar
    .copyright-bar__inner
      .copyright-bar__copyright
        p Copyright &copy; 2018 Toxin UI Kit. All right reserved.
      .copyright-bar__social
        p njfvnjfnvjf