.footer-nav {
  width: 100%;
  background-color: $background-color;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

  h3 {letter-spacing: -0.025em;}
}
.footer-nav__inner {
  padding: 100px 140px 80px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 1400px) {
    padding: 60px 30px;
  }
}
.footer-nav__info {
  flex-basis: 260px;
  margin-right: 40px;
  @media screen and (max-width: 1060px) {
    flex-basis: 150px;
  }
}
.footer-nav__logo {
  margin-bottom: 17px;
  height: 40px;
}
.footer-nav__about-company {
  font-family: $font-family-secondary-medium;
  letter-spacing: -0.015em;
}
.footer-nav__menu-nav {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  h3 {
    margin-bottom: 21px;
  }
}
.footer-nav__navigation,
.footer-nav__about,
.footer-nav__support {
  flex-basis: 30%;
  padding-top: 4px;
}
.footer-nav__navigation,
.footer-nav__about {
  padding-right: 3.25%;
}
.footer-nav__chapter {
  margin-bottom: 20px;
  line-height: 18px;
  letter-spacing: -0.005em;
  font-family: $font-family-secondary-medium;
}
.footer-nav__link {
  color: $palette-primary-50;
  &:visited {
    color: $palette-primary-50;
  }
  &:hover{
    transition-duration: $transition-duration;
    color: $palette-primary-75;
  }
}
.footer-nav__subscribe{
  flex-basis: 260px;
  padding-top: 4px;
}
.footer-nav__subsribe-header {
  margin-bottom: 18px;
}
.footer-nav__subsribe-text {
  font-family: $font-family-secondary-medium;
  letter-spacing: -0.018em;
  margin-bottom: 23px;
}
.footer-nav__line {
  width: 100%;
  height: 1px;
  background: #E5E5E5;
}
/* Copyright&Social*/
.copyright-bar {
  width: 100%;
  height: 70px;
  background-color: $background-color;
  box-shadow: 0px 10px 20px $palette-primary-5;
}
.copyright-bar__inner {
  height: 100%;
  padding: 0px 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.copyright-bar__copyright {
  font-family: $font-family-secondary-medium;
  letter-spacing: -0.016em;
}
.copyright-bar__social {

}
.copyright-bar__link {
  font-family: $font-family-brands;
  font-size: 24px;
  margin-left: 23px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &--twitter:before {
    content: '\f099'; 
  }
  &--facebook:before {
    content: '\f082';
  }
  &--instagram:before {
    content: '\f16d';
  }
}
