mixin footer-nav
  .footer-nav
    .footer-nav__inner
      .footer-nav__info
        .footer-nav__logo
          include img/logo-toxin.svg
        p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .footer-nav__menu-nav
        .footer-nav__navigation
          h3 Navigation
          a(href='#')
            p About Us
          a(href='#')
            p News
          a(href='#')
            p Support
          a(href='#')
            p Products
        .footer-nav__about
          h3 About Us
          a(href='#')
            p Who we are
          a(href='#')
            p Our team
          a(href='#')
            p Careers
          a(href='#')
            p Investors
        .footer-nav__support
          h3 Support
          a(href='#')
            p Documentation
          a(href='#')
            p Community
          a(href='#')
            p Get in Touch
      .footer-nav__subscribe
        h3 Subscribe to our newsletter
  .copyright-bar
    .copyright-bar__inner
      .copyright-bar__copyright
        p Copyright &copy; 2018 Toxin UI Kit. All right reserved.
      .copyright-bar__social
        a.copyright-bar__link(href='#')
          .social.twitter
        a.copyright-bar__link(href='#')
          .social.facebook
        a.copyright-bar__link(href='#')
          .social.instagram