mixin footer
  .footer
    .footer__inner
      .footer__logo
        include img/logo-toxin.svg
      .footer__info
        p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .footer__social