mixin footer(info)
  .footer
    .footer__inner
      .footer__logo
        include img/logo-toxin.svg
      p.footer__info= info
      .footer__social
          a.footer__social__link.footer__social__link--twitter(href="#")
          a.footer__social__link.footer__social__link--facebook(href="#")
          a.footer__social__link.footer__social__link--instagram(href="#")