//- placeholder - placeholder в input
mixin filter-date-dropdown(placeholder)
  .filter-date-dropdown
    .filter-date-dropdown__inner
      label.filter-date-dropdown__more
        input.filter-date-dropdown__input.datepicker-here.text-field(type="text" data-range="true" data-multiple-dates-separator=" - "  placeholder=placeholder readonly)