doctype html
html(lang="en")
  head
    title= pageTitle
  body
    #logo
      include ../favicon/logo.svg
    .grid-container
      .grid-container__first-column
        include ../blocks/color-panel/color-panel.pug
        +color-panel--dark100
        +color-panel--dark75
        +color-panel--dark50
        +color-panel--dark25
        +color-panel--dark5
        +color-panel--purple
        +color-panel--green
      .grid-container__second-column