doctype html
html(lang="en")
  head
    title= pageTitle
  body
    #logo
      include ../favicon/logo.svg
    .grid-container
      .grid-container__first-column
        include ../blocks/color-panel/color-panel.pug
        +color-panel('Dark Shade 100%', '#1F2041')
      .grid-container__second-column
        