mixin dropdown--facilities
  .dropdown.dropdown--facilities
    label.dropdown__more
      input.text-field.dropdown__input(type="text", placeholder="Выберите удобства" readonly)
      .drop-out
        .drop-out__item.drop-out__item--first
          h3.drop-out__name Спальни
          .drop-out__counter
            p.drop-out__btn-decrease -
            h3.drop-out__amount 0
            p.drop-out__btn-increase.drop-out__btn-increase--active +
        .drop-out__item.drop-out__item--second
          h3.drop-out__name Кровати
          .drop-out__counter
            p.drop-out__btn-decrease -
            h3.drop-out__amount 0
            p.drop-out__btn-increase.drop-out__btn-increase--active +
        .drop-out__item.drop-out__item--third
          h3.drop-out__name Ванные комнаты
          .drop-out__counter
            p.drop-out__btn-decrease -
            h3.drop-out__amount 0
            p.drop-out__btn-increase.drop-out__btn-increase--active +
mixin dropdown--guests
  .dropdown.dropdown--guests
    label.dropdown__more
      input.text-field.dropdown__input(type="text", placeholder="Сколько гостей" readonly)
      .drop-out
        .drop-out__item.drop-out__item--first
          h3.drop-out__name Взрослые
          .drop-out__counter
            p.drop-out__btn-decrease -
            h3.drop-out__amount 0
            p.drop-out__btn-increase.drop-out__btn-increase--active +
        .drop-out__item.drop-out__item--second
          h3.drop-out__name Дети
          .drop-out__counter
            p.drop-out__btn-decrease -
            h3.drop-out__amount 0
            p.drop-out__btn-increase.drop-out__btn-increase--active +
        .drop-out__item.drop-out__item--third
          h3.drop-out__name Младенцы
          .drop-out__counter
            p.drop-out__btn-decrease -
            h3.drop-out__amount 0
            p.drop-out__btn-increase.drop-out__btn-increase--active +
        .drop-out__buttons
          +btn--min("Очистить")
          +btn--min("Применить")