mixin checkbox-list(name, values)
  .checkbox-list
    .checkbox-list__title
      h3.checkbox-list__name= name
      .checkbox-list__arrow
    .checkbox-list__content.checkbox-list__content--none
      each val in values
        +checkbox-button("usual", ""+val)