* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  width: 1440px;
  color: $palette-primary-100;
}

.logo-for-kit {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}

h1, h2 {
	font-family: $font-family-primary-bold;
}

h1 {
	font-size: 24px;
  line-height: 30px;
}

h2 {
	font-size: 19px;
  line-height: 24px;
}

h3 {
	font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-family: $font-family-secondary-bold;
}

p {
	font-size: 14px;
  line-height: 24px;
  font-family: $font-family-secondary;
  color: $palette-primary-75;
}