/* Шрифты */
$font-family-primary-light: Quicksand-Light;
$font-family-primary-bold: Quicksand-Bold;
$font-family-secondary: Montserrat-Regular;
$font-family-secondary-medium: Montserrat-Medium;
$font-family-secondary-light: Montserrat-Light;
$font-family-secondary-bold: Montserrat-Bold;

/* Цвета */
$background-color: #FFFFFF;

$palette-primary-100: rgba(31, 32, 65, 1); /* #1F2041 */
$palette-primary-75: rgba(31, 32, 65, 0.75);
$palette-primary-50: rgba(31, 32, 65, 0.5);
$palette-primary-25: rgba(31, 32, 65, 0.25);
$palette-primary-5: rgba(31, 32, 65, 0.05);

$palette-secondary: #BC9CFF; /* Purple */
$palette-tertiary: #6FCF97; /* Green */