@import './_fonts.css';
@import './_variables.scss';
@import '../blocks/color-panel/color-panel.scss';

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
}

#logo {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 145px;
  padding-left: 150px;
}


