doctype html
html(lang="en")
  head
    title= pageTitle
  body
    .logo-for-kit
      include ../../favicon/logo.svg
    include ../../blocks/header-nav/header-nav.pug
    +header-nav
    +header-nav
    include ../../blocks/footer-nav/footer-nav.pug
    +footer-nav
    include ../../blocks/footer/footer.pug
    +footer