// Подключение стилей шаблона
@import '../../templates/template.scss';

body {
  max-width: 1440px;
  margin: 0 auto;
}

.headers-and-footers {
  height: 100%;
  background: #F4F4F6;
  padding-top: 140px;
}

.header-nav {
  margin-bottom: 40px;
}

.copyright-bar {
  margin-bottom: 40px;
}

.footer {
  margin-bottom: 140px;
}