@import '../../style/_fonts.css';
@import '../../style/_variables.scss';
@import '../../style/_global-for-kit.scss';
@import '../../blocks/header-nav/header-nav.scss';
@import '../../blocks/footer-nav/footer-nav.scss';


body {
  background: #F4F4F6;
  padding-top: 150px;
}

.header-nav {
  margin-bottom: 40px;
}