.drop-out {
  display: none;
  position: absolute;
  width: 320px;
  background-color: $background-color;
  border: 1px solid $palette-primary-50;
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  border-top: none;
  padding: 13px 15px;
  font-size: 14px;
  font-family: $font-family-secondary;

  &--max {

  }
}
.dropdown:focus+.drop-out {
  display: block;
}
.drop-out__items {
  
}
.drop-out__item {

}
.drop-out__apply {
  color: $palette-secondary;
}
.drop-out__buttons {
  display: flex;
  justify-content: space-between;
}