mixin drop-out(...items)
  .drop-out
    each item in items
      .drop-out__items
        h3.drop-out__item= item

mixin drop-out--max(...items)
  .drop-out.drop-out--max
    each item in items
      h3.drop-out__item= item
    .drop-out__buttons
      +btn--min("Очистить")
      +btn--min("Применить")