//- 
  type - тип кнопки: "usual" or "rich"
  text - Текст чекбокса
  note - если type="rich", то добавляется доп текст
  checked - "checked" or ""
mixin checkbox-button(type, text,  note, checked)
  .checkbox-button
    .checkbox-button__inner
      label.checkbox-button__label
        input.checkbox-button__checkbox(type="Checkbox", checked=checked)
        span.checkbox-button__button
        .checkbox-button__text
          - if(type=="rich")
            h3.checkbox-button__header #{text}
            p.checkbox-button__note #{note}
          - if(type=="usual")
            p.checkbox-button__header #{text}