mixin checkbox-button(text, checked)
  p.checkbox-button
    label.checkbox-button__label
      input.checkbox-button__checkbox(type="Checkbox", checked=checked)
      span.checkbox-button__button
      span.checkbox-button__text #{text}