.checkbox-button {
}
.checkbox-button__label {
  cursor: pointer;
  display: flex;
}
.checkbox-button__checkbox {
  display: none;
}
.checkbox-button__button {
  display: inline-block;
  margin-right: 9px;
  min-width: 20px;
  height: 20px;
  border: 1px solid $palette-primary-25;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  vertical-align: middle;
}
.checkbox-button__button::after {
  height: 18px;
  font-family: $font-family-icons;
  content: 'done';
  font-size: 0px;
  line-height: 18px;
  background: $linear-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
  position: absolute;
  left: 3px;
}
.checkbox-button__checkbox:checked {
  &+.checkbox-button__button::after {
    font-size: 12px;
  }
  &+.checkbox-button__button {
    border: 1px solid $palette-secondary; 
  }
}
.checkbox-button__text {
  position: relative;
  top: -2px;
  font-size: 14px;
}
.checkbox-button__header {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
.checkbox-button__note {
  margin-top: 2px;
  font-size: 12px;
  line-height: 15px;
}