//- Все примеси в этом файле должны начинаться c имени блока (checkbox-button)

mixin checkbox-button(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +checkbox-button('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' checkbox-button--' + modsList[i].trim();
      }
    }

  .checkbox-button(class=allMods)&attributes(attributes)
    .checkbox-button__inner
      block
