.checkbox-button__label {
  cursor: pointer;
}
.checkbox-button__checkbox {
  display: none;
}
.checkbox-button__button {
  display: inline-block;
  margin-right: 9px;
  width: 20px;
  height: 20px;
  border: 1px solid $palette-primary-25;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  vertical-align: middle;
}
.checkbox-button__button::after {
  font-family: $font-family-icons;
  content: 'done';
  font-size: 0px;
  background: $linear-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
  position: absolute;
  top: -3px;
  left: 3px;
}
.checkbox-button__checkbox:checked {
  &+.checkbox-button__button::after {
    font-size: 12px;
  }
  &+.checkbox-button__button {
    border: 1px solid $palette-secondary; 
  }
}
.checkbox-button__text {
  display: inline-block;
  vertical-align: top;
}

