doctype html
html(lang="en")
  head
    title= pageTitle
  body
    #logo
      include ../logo.svg
    .grid-container
      .first-column
        include ../blocks/color-panel/color-panel.pug
        +color-panel('Dark Shade 100%', '#1F2041')
      .second-column

