doctype html
html(lang="en")
  head
    title= pageTitle
  body
    #logo
      include ../logo.svg
    .grid-container
      .first-column
        .square
        p Dark Shade 100%
        p #1F2041  	
        p bgbgb
      .second-column

