mixin toggle(value)
  .toggle
    .toggle__inner
      .toggle__switch
    p.toggle__value #{value}

mixin toggle--on(value)
  .toggle
    .toggle__inner
      .toggle__switch.toggle__switch--on
    p.toggle__value #{value}