//-
  icon - иконка material-icons
  header - заголовок
  text - текст-описание
  last - убирает серую линию для последнего элемента (true/false)
mixin card-conditions(icon, header, text, last)
  .card-conditions
    .card-conditions__inner
      .card-conditions__icon
        span.material-icons.card-conditions__span= icon
      .card-conditions__content
        h3.card-conditions__header= header
        p.card-conditions__text= text
    if (!last) 
      .card-conditions__line