mixin card-conditions(icon, header, text)
  .card-conditions
    .card-conditions__icon
      span.material-icons.card-conditions__span= icon
    .card-conditions__content
      h3.card-conditions__header= header
      p.card-conditions__text= text