.card-conditions {

}
.card-conditions__inner {
  display: flex;
}
.card-conditions__icon {
  margin-right: 10px;
}
.card-conditions__span {
  font-size: 48px;
  line-height: 41px;
  background: $linear-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-conditions__content {
  color: $palette-primary-75;
}
.card-conditions__header {
  text-transform: none;
  font-size: 14px;
  margin-bottom: 5px;
}
.card-conditions__line {
  width: 280px;
  height: 1px;
  background: rgba(31, 32, 65, 0.1);
  margin-top: 16px;
  margin-bottom: 24px;
}