.reservation {

}
.reservation__inner {
  max-width: 380px;
  background: $background-color;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 39px 30px 29px 29px;
  @media screen and (max-width: 380px) {
    max-width: 320px;
    .btn__inner {
      width: 260px;
    }
  }
}
.reservation__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.reservation__number-sign {
  margin: 0;
  display: inline-block;
  font-size: 15px;
  margin-right: 3px;
}
.reservation__number {
  margin: 0;
  display: inline-block;
}
.reservation__lux {
  margin: 0;
  display: inline-block;
  margin-left: 5px;
  color: $palette-secondary;
}
.reservation__cost {
  margin-top: 8px;
  color: $palette-primary-50;
  h3 {
    display: inline-block;
    font-size: 14px;
    margin-right: 4px;
  }
  p {
    display: inline-block;
    font-size: 12px;
  }
}
.reservation__dates {
  .date-dropdown {
    .date-dropdown__input {
      @media screen and (max-width: 380px) {
        width: 120px;
      }      
    }
  }
}
.reservation__dates-headers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.reservation__dates-header {
  width: 150px;
}
.reservation__guests-header {
  margin-bottom: 5px;
}
.reservation__guests {
  margin-top: 20px;
  @media screen and (max-width: 380px) {
    .dropdown__inner--guests {
      width: 260px;
    }
    .dropdown__input--guests {
      width: 260px;
    }
    .drop-out--guests {
      width: 260px;
    }
  }
}
.reservation__cost-list {
  width: 100%;
}

.reservation__services {
  margin-top: 20px;
  margin-left: 1px;
  width: 320px;
  @media screen and (max-width: 380px) {
    width: 260px;
  }
}
.reservation__service {
  display: flex;
  margin-bottom: 14px;
}
.reservation__service-name {
  flex-basis: 219px;
  line-height: 18px;
}
.reservation__service-info {
  font-size: 12px;
  line-height: 20px;
  border-radius: 50%;
  border: 1px solid $palette-primary-25;
  box-sizing: border-box;
  color: $palette-primary-25;
  width: 20px;
  height: 20px;
  text-align: center;
  font-family: $font-family-secondary-bold;
  cursor: help;
  &--false {

  }
}
.reservation__service-cost {
  line-height: 18px;
  text-align: right;
  flex-grow:1;
}

.reservation__cost-result {
  margin-top: 30px;
  display: flex;
}
.reservation__dashed {
  height: 0px;
  flex-grow:1;
  border: 1px dashed rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  align-self: flex-end;
}
.reservation__button {
  margin-top: 20px;
}