.reservation {

}
.reservation__inner {
  max-width: 380px;
  background: $background-color;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 39px 30px 29px 30px;
}
.reservation__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.reservation__number-sign {
  margin: 0;
  display: inline-block;
  font-size: 15px;
  margin-right: 3px;
}
.reservation__number {
  margin: 0;
  display: inline-block;
}
.reservation__lux {
  margin: 0;
  display: inline-block;
  margin-left: 5px;
  color: $palette-secondary;
}
.reservation__cost {
  margin-top: 8px;
  color: $palette-primary-50;
  h3 {
    display: inline-block;
    font-size: 14px;
    margin-right: 4px;
  }
  p {
    display: inline-block;
    font-size: 12px;
  }
}
.reservation__dates-headers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.reservation__dates-header {
  width: 150px;
}
.reservation__guests {
  margin-top: 20px;
}
.reservation__guests-header {
  margin-bottom: 5px;
}
.reservation__cost-list {
  width: 100%;
}
.reservation__cost-list--inner {
  display: flex;
  position: relative;
  top: -9px;
  width: 320px;
}
.reservation__services-name {
  margin-top: 3px;
  max-width: 220px;
}
.reservation__service-name {
  margin-bottom: 16px;
  line-height: 18px;
}
.reservation__services-info {
  margin-top: -2px;
}
.reservation__service-info {
  border-radius: 50%;
  border: 1px solid $palette-primary-25;
  box-sizing: border-box;
  color: $palette-primary-25;
  width: 20px;
  height: 20px;
  text-align: center;
  font-family: $font-family-secondary-bold;
  font-size: 10px;
  line-height: 20px;
  cursor: help;
  margin-bottom: 16px;

  &--false {
    opacity: 0%;
    cursor: default;
  }
}
.reservation__services-cost {
  text-align: right;
  flex-grow: 1;
}
.reservation__service-cost {
  margin-bottom: 10px;
}
.reservation__cost-result {
  margin-top: 4px;
  display: flex;
}
.reservation__dashed {
  height: 0px;
  flex-grow:1;
  border: 1px dashed rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  align-self: flex-end;
}
.reservation__button {
  margin-top: 20px;
}