// Подключение стилей шаблона
@import '../../templates/template.scss';

body {
  background-color: #E5E5E5;
  max-width: 1440px;
  margin: 0 auto;
}

.columns {
  margin: 150px 140px;
  display: flex;
  justify-content: space-between;
}
.column .room-selection,
.column .reservation,
.column .calendar,
.column .room-card {
  margin-bottom: 40px;
}