extends ../../templates/template.pug

block head
  title Cards
  script(src='cards.js')
block body
  .logo-for-kit
    include ../../favicon/logo.svg
  .columns
    .column
      +room-selection
      +registration-form
    .column
      +reservation({
        number: '888',
        lux: true,
        dayCost: '9 990₽',
        services: ['9 990₽ x 4 суток','Сбор за услуги: скидка 2 179₽','Сбор за дополнительные услуги'],
        info: [false, true, true],
        costs: ['39 960₽', '0₽', '300₽'],
        result: '38 081₽'
      })
      +authorization
    .column
      .calendar.datepicker-here