extends ../../templates/template.pug

block head
  title Cards
  script(src='cards.js')
block body
  .logo-for-kit
    include ../../favicon/logo.svg
  .columns
    .column
      +room-selection
      +registration-form
    .column
      +reservation
      +authorization
    .column
      .calendar.datepicker-here