//-
  amount - число лайков
  active - поставлен ли лайк: true or false
mixin like-button(amount, active)
  .like-button
    if (active)
      .like-button__inner.like-button__inner--active
        p.like-button__amount #{amount}
    else 
      .like-button__inner
        p.like-button__amount #{amount}