mixin like-button(amount, active)
  .like-button
    if (active == 'active')
      .like-button__inner.like-button__inner--active
        p.like-button__amount #{amount}
    else 
      .like-button__inner
        p.like-button__amount #{amount}