.header-nav {
  width: 100%;
}
.header-nav__inner {
  background-color: $background-color;
  box-shadow: 0px 10px 20px $palette-primary-5;
}
.header-nav__wrapper {
  padding: 12px 140px 15px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1200px) {
    padding: 12px 40px 15px;
  }
  @media screen and (max-width: 1000px) {
    padding: 12px 10px 15px;
  }
  @media screen and (max-width: 870px) {
    flex-direction: column;
  }
  @media screen and (max-width: 750px) {
    flex-direction: row;
  }
}
/* Лого */
.header-nav__logo {
  height: 40px;
  flex-grow: 1;
  margin-top: 3px;
}
/* Меню */
.header-nav__nav-and-login {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 750px) {
    display: none;
  }
}
.header-nav__menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-nav__menu-nav-wrapper {

}
.header-nav__chapter {
  margin-right: 20px;
  display: inline-block;
  line-height: 17px;
  font-family: $font-family-secondary-medium;

  @media screen and (max-width: 950px) {
    margin-right: 10px;
  }

  &:not(.header-nav__chapter--drop-down) {
    margin-right: 20px;
  }
  &--active {
    font-family: $font-family-secondary-bold;
  }

}
.header-nav__link {
  color: $palette-primary-50;
  &--drop-down:after {
    font-family: 'Material Icons';
    content: 'expand_more';
    font-size: 24px;
    float: right;  
    position: relative; 
  }
  &:hover{
    transition-duration: $transition-duration;
    color: $palette-primary-75;
  }
  &:visited {
    color: $palette-primary-50;
  }
  &--active {
    color: $palette-primary-75;
  }
}
.header-nav__nav-mobile {
  cursor: pointer;
  display: none;
  @media screen and (max-width: 750px) {
    display: block;
  }
}
.header-nav__menu-button {
  font-size: 40px;
  line-height: 45px;
}
/* Авторизация */
.header-nav__authorization {
  margin-top: 0;
  display: flex;
  margin-top: 5px;
  .btn {
    margin-top: 1px;
    &--full {
      padding: 9px 22px;
    }
    &--border {
      padding: 7.5px 19.5px;
      margin-right: 23px;
      margin-top: 2px;

      @media screen and (max-width: 950px) {
        margin-right: 5px;
      }
    }
    &--border__value {
      letter-spacing: -0.05em;
    }
  }
}
.header-nav__vertical-line {
  width: 1px;
  height: 30px;
  background: rgba(31, 32, 65, 0.1);
  margin: auto;
}
.header-nav__username {
  margin: auto;
  margin-left: 20px;
  margin-top: 6px;
}