//-"authorized" or "unauthorized"
mixin header-nav(authorization, name)
  .header-nav
    .header-nav__inner
      .header-nav__logo
        include img/logo-toxin.svg
      .header-nav__menu-nav
        p.header-nav__chapter
           a.header-nav__link(href='#') Home
        p.header-nav__chapter
           a.header-nav__link(href='#') About Us
        p.header-nav__chapter.header-nav__chapter--drop-down
           a.header-nav__link.header-nav__link--drop-down(href='#') Services
        p.header-nav__chapter
           a.header-nav__link(href='#') Careers
        p.header-nav__chapter
           a.header-nav__link(href='#') News
        p.header-nav__chapter
           a.header-nav__link(href='#') Documentation
      .header-nav__authorization
        if (authorization == "authorized")
          p= name
        if (authorization == "unauthorized")
          +btn("border","Login")
          +btn("full","Register")