mixin header-nav
  .header-nav
    .header-nav__inner
      .header-nav__logo
        include img/logo-toxin.svg
      .header-nav__menu-nav
        a.header-nav__link(href='#')
          p.header-nav__ Home
        a.header-nav__link(href='#')
          p About Us
        a.header-nav__link(href='#')
          p.drop-down Services
        a.header-nav__link(href='#')
          p Careers
        a.header-nav__link(href='#')
          p News
        a.header-nav__link(href='#')
          p Documentation
      .header-nav__authorization
        p fvfvfvfvf