//- Все примеси в этом файле должны начинаться c имени блока (header-nav)

mixin header-nav(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header-nav('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header-nav--' + modsList[i].trim();
      }
    }

  .header-nav(class=allMods)&attributes(attributes)
    .header-nav__inner
      block
