.header-nav {
  width: 100%;
  background-color: $background-color;
  box-shadow: 0px 10px 20px $palette-primary-5;
}
.header-nav__inner {
  padding: 15px 140px;
  display: flex;
  flex-wrap: wrap;
}
/* Лого */
.header-nav__logo {
  height: 40px;
  flex-grow: 1;
}
/* Меню */
.header-nav__menu-nav {
  margin: auto 0;
}
.header-nav__chapter {
  margin-right: 20px;
  display: inline-block;
  line-height: 17px;
  font-family: $font-family-secondary-medium;
  letter-spacing: -0.018em;
  &:not(.header-nav__chapter--drop-down) {
    margin-right: 30px;
  }
}
.header-nav__link {
  &--drop-down:after {
    font-family: 'Material Icons';
    content: 'expand_more';
    font-size: 24px;
    float: right;  
    position: relative; 
  }
}
.header-nav__link {
  color: $palette-primary-50;
  &:visited {
    color: $palette-primary-50;
  }
}
/* Авторизация */
.header-nav__authorization {
  width: 200px;
}