mixin date-dropdown(id_start, id_end)
  .date-dropdown
    .date-dropdown__inner
      label.date-dropdown__more
        input.date-dropdown__input.date-dropdown__first.text-field(id=id_start type="text" data-range="true" data-multiple-dates-separator="-"  placeholder="ДД.ММ.ГГГГ" readonly)
      label.date-dropdown__more
        input.date-dropdown__input.date-dropdown__second.text-field(id=id_end type="text" placeholder="ДД.ММ.ГГГГ" readonly)